.footer-user
  .footer-user__guide
    .footer-user__guide--privacy
    プライバシーポリシー  
    .footer-user__guide--terms
    メルカリ利用規約  
    .footer-user__guide--notification
    特定商取引に関する表記
  .footer-user__logo
    =link_to image_tag('/images/logo-grey.png',height:"70px",width:"80px"),"/news"
  .footer-user__copyright
    © 2019 Mercari