.account-page
  .header
    .header__logo
    = image_tag '/images/logo-main.png',height:"49px",width:"185px;"
    .header__progress-bar
      .header__progress-bar--active
      会員情報
      .progress-status
      電話番号認証
      .progress-status
      お届け先住所入力
      .progress-status
      支払い方法
      .progress-status
      完了

  .main
    .head-registration
      会員情報入力
    .inner-registration
      .inner-registration__contents
        .inner-registration__contents--title.side
          ニックネーム
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"例）メルカリ太郎",name:"content"}
        .inner-registration__contents--title.side
          メールアドレス
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"PC・携帯どちらでも可",name:"content"}
        .inner-registration__contents--title.side
          パスワード
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"7文字以上",name:"content"}
        .inner-registration__contents--title.side
          パスワード（確認）
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"7文字以上",name:"content"}
        .inner-registration__contents--identification
          本人確認
        .inner-registration__contents--text
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .inner-registration__contents--title.side
          お名前（全角）
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"例）山田",name:"content"}
          %input{type:"text", placeholder:"例）彩",name:"content"}
        .inner-registration__contents--title.side
          お名前カナ（全角）
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %input{type:"text", placeholder:"例）ヤマダ",name:"content"}
          %input{type:"text", placeholder:"例）アヤ",name:"content"}
        .inner-registration__contents--title.side
          生年月日
        .inner-registration__contents--require.side
          必須
        .inner-registration__contents--input
          %form{action: "#", method: "GET"}
          %select{name: "content"}
            %option{value: ""} ---
            %option{value: "2019"} 2019
          年
          %form{action: "#", method: "GET"}
          %select{name: "content"}
            %option{value: ""} ---
            %option{value: "1"} 1
          月
          %form{action: "#", method: "GET"}
          %select{name: "content"}
            %option{value: ""} ---
            %option{value: "1"} 1
          日
        .inner-registration__contents--attentions
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .hinner-registration__contents--authentication
        = image_tag '/images/reCAPTCHA.png',height:"80px",width:"320px;"
        .inner-registration__contents--agreement
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        .inner-registration__contents--next-btn
          次へ進む
        .inner-registration__contents--attentions-guide
          本人情報の登録について
  .footer
    .footer__guide
      %h5 プライバシーポリシー
      %h5 メルカリ利用規約
      %h5 特定商取引に関する表記
    .footer__logo
      =link_to image_tag('/images/logo-grey.png',height:"65px",width:"80px"),"/news"
    .footer__copyright
      © 2019 Mercari