.account-page
  %header.header
    %h1.header__logo
      =link_to root_path do
        = image_tag '/images/logo-main.png', height:"52px", width:"190px;", alt: "mercari"
    %nav.header__progress-bar
      = image_tag '/images/progress-bar.png',height:"50px",width:"500px;"
  %main.registration
    %section.registration__container
      %h2.registration__title 支払い方法
      %div.inner-registration
        .inner-registration__content
          .inner-registration__contents--title.side
            カード番号
          .inner-registration__contents--require.side
            必須
          .inner-registration__contents--input
            %input{type:"text", placeholder:"半角数字のみ",name:"content"}
          .inner-registration__contents--icons
          .inner-registration__contents--title.side
            有効期限
          .inner-registration__contents--require.side
            必須
          .inner-registration__contents--select
            .inner-registration__contents--select-month
              %form{action: "#", method: "GET"}
              %select{name: "content"}
                %option{value: ""} ---
                %option{value: "01"} 01
              月
            .inner-registration__contents--select-year
              %form{action: "#", method: "GET"}
              %select{name: "content"}
                %option{value: ""} ---
                %option{value: "19"} 19
              年 
          .inner-registration__contents--title.side
            セキュリティコード
          .inner-registration__contents--require.side
            必須
          .inner-registration__contents--input-name
            %input{type:"text", placeholder:"カード背面4桁もしくは3桁の番号",name:"content", class: "input-firstname"}
          .inner-registration__contents--attentions-guide
            %p
              %i.fa.fa-question-circle
              カード裏面の番号とは？
          .inner-registration__contents--next-btn
            =link_to "次へ進む", step6_signup_index_path, method: :get, class: 'btn-next'
  = render 'devise/registrations/footer'