.header
  .header__top
    = image_tag '/images/logo.png',height:"50px",width:"50px;"
    mercari
    .header__top--search
      %input{type:"text",placeholder:"何かお探しですか？",name:"search"}
    .header__top--submit
      %button{type:"submit",name:"submit",class:"hidden"}
        =fa_icon "search",class:"search-icon"
  .header__bottom
    .bottom__left
      .bottom__left--type
        =fa_icon "list-ul",class:"type__icon"
        %span
          カテゴリーから探す
        %ul{class:"dropdown"}
          %h3
            =link_to"レディース",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"メンズ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"ベビー・キッズ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"インテリア・住まい・小物",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"本・音楽・ゲーム",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"おもちゃ・ホビー・グッズ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"コスメ・香水・美容",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"家電・スマホ・カメラ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"スポーツ・レジャー",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"ハンドメイド",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"チケット",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"自動車・オートバイ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"その他",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"カテゴリー一覧",new_news_path,method: :get,class:"btn"
      .bottom__left--type
        =fa_icon "tag",class:"type__icon"
        %span
          ブランドから探す
        %ul{class:"dropdown"}
          %h3
            =link_to"シャネル",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"ナイキ",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"ルイ　ヴィトン",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"シュプリーム",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"アディダス",new_news_path,method: :get,class:"btn"
            <br>
          %h3
            =link_to"ブランド一覧",new_news_path,method: :get,class:"btn"
