.header
  .header__top
    =fa_icon "amazon"
    mercari
    =fa_icon "search"
  .header__bottom
    .bottom__left
      =fa_icon "list-ul"
      カテゴリーから探す
      =fa_icon "tag"
      ブランドから探す
    .bottom__right
      新規会員登録
      ログイン