.item
  .item__header
    .item__header--image
      = image_tag '/images/logo.png',height:"50px",width:"50px;"
    .item__header--content
      =link_to"merucari",news_index_path,method: :get,class:"btn"
  .item__register
    .item__register--header
      商品の情報を入力
    .item__register--image
      .image__contents
        .image__contents--title.side
          出品画像
        .image__contents--btn.side
          必須
        .image__contents--description
          最大10枚までアップロードできます
        .image__contents--content
          %input{type:"file",name:"file",multiple:"multiple"}
          =fa_icon "camera",class:"camera-icon"
    .item__register--name
      .name__contents
        .name__contents--title.side
          商品名
        .name__contents--btn.side
          必須
        .name__contents--content
          %input{type:"text",placeholder:"商品名（必須40文字まで）",name:"content"}
    .item__register--description
      .description__contents
        .description__contents--title.side
          商品の説明
        .description__contents--btn.side
          必須
        .description__contents--content
          %input{type:"text",placeholder:"商品の説明（必須1,000文字以内）（色、素材、商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",name:"content"}
    .item__register--detail
      .detail__title.side
        商品の詳細
      .detail__contents.side
        .detail__contents--type.side
          カテゴリー
        .detail__contents--btn.side
          必須
        .detail__contents--content
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"display"}
              %option{value:""}---
              %option{value:"レディース"}レディース
              %option{value:"メンズ",}メンズ
              %option{value:"ベビー・キッズ"}ベビー・キッズ
              %option{value:"インテリア・住まい・小物"}インテリア・住まい・小物
              %option{value:"本・音楽・ゲーム"}本・音楽・ゲーム
              %option{value:"おもちゃ・ホビー・グッズ"}おもちゃ・ホビー・グッズ
              %option{value:"コスメ・香水・美容"}コスメ・香水・美容
              %option{value:"家電・スマホ・カメラ"}家電・スマホ・カメラ
              %option{value:"スポーツ・レジャー"}スポーツ・レジャー
              %option{value:"ハンドメイド"}ハンドメイド
              %option{value:"チケット"}チケット
              %option{value:"自動車・オートバイ"}自動車・オートバイ
              %option{value:"その他"}その他
        .detail__contents--content.rady.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"トップス(レディース)"}トップス
              %option{value:"ジャケット/アウター(レディース)"}ジャケット/アウター
              %option{value:"パンツ(レディース)"}パンツ
              %option{value:"スカート(レディース)"}スカート
              %option{value:"ワンピース(レディース)"}ワンピース
              %option{value:"靴(レディース)"}靴
              %option{value:"ルームウェア/パジャマ(レディース)"}ルームウェア/パジャマ
              %option{value:"レッグウェア(レディース)"}レッグウェア
              %option{value:"帽子(レディース)"}帽子
              %option{value:"バッグ(レディース)"}バッグ
              %option{value:"アクセサリー(レディース)"}アクセサリー
              %option{value:"ヘアアクセサリー(レディース)"}ヘアアクセサリー
              %option{value:"小物(レディース)"}小物
              %option{value:"時計(レディース)"}時計
              %option{value:"ウィッグ/エクステ(レディース)"}ウィッグ/エクステ
              %option{value:"浴衣/水着(レディース)"}衣/水着
              %option{value:"スーツ/フォーマル/ドレス(レディース)"}スーツ/フォーマル/ドレス
              %option{value:"マタニティー(レディース)"}マタニティー
              %option{value:"その他(レディース)"}その他
        .detail__contents--content.man.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"トップス(メンズ)"}トップス
              %option{value:"ジャケット/アウター(メンズ)"}ジャケット/アウター
              %option{value:"パンツ(メンズ)"}パンツ
              %option{value:"靴(メンズ)"}靴
              %option{value:"バッグ(メンズ)"}バッグ
              %option{value:"スーツ(メンズ)"}スーツ
              %option{value:"帽子(メンズ)"}帽子
              %option{value:"アクセサリー(メンズ)"}アクセサリー
              %option{value:"小物(メンズ)"}小物
              %option{value:"時計(メンズ)"}時計
              %option{value:"水着(メンズ)"}水着
              %option{value:"レッグウェア(メンズ)"}レッグウェア
              %option{value:"アンダーウェア(メンズ)"}アンダーウェア
              %option{value:"その他(メンズ)"}その他
        .detail__contents--content.baby.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"ベビー服(女の子用)~95cm"}ベビー服(女の子用)~95cm
              %option{value:"ベビー服(男の子用)~95cm"}ベビー服(男の子用)~95cm
              %option{value:"ベビー服(男女兼用)~95cm"}ベビー服(男女兼用)~95cm
              %option{value:"ベビー服(女の子用)100cm~"}ベビー服(女の子用)100cm~
              %option{value:"ベビー服(男の子用)100cm~"}ベビー服(男の子用)100cm~
              %option{value:"ベビー服(男女兼用)100cm~"}ベビー服(男女兼用)100cm~
              %option{value:"キッズ靴"}キッズ靴
              %option{value:"子ども用ファッション小物"}子ども用ファッション小物
              %option{value:"おむつ/トイレ/バス"}おむつ/トイレ/バス
              %option{value:"外出/移動用品"}外出/移動用品
              %option{value:"授乳/食事"}授乳/食事
              %option{value:"ベビー家具/寝具/室内用品"}ベビー家具/寝具/室内用品
              %option{value:"おもちゃ"}おもちゃ
              %option{value:"行事/記念品"}行事/記念品
              %option{value:"その他(キッズ)"}その他
        .detail__contents--content.interia.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"キッチン/食器"}キッチン/食器
              %option{value:"ベッド/マットレス"}ベッド/マットレス
              %option{value:"ソファ/ソファベッド"}ソファ/ソファベッド
              %option{value:"椅子/チェア"}椅子/チェア
              %option{value:"机/テーブル"}机/テーブル
              %option{value:"収納家具"}収納家具
              %option{value:"ラグ/カーペット/マット"}ラグ/カーペット/マット
              %option{value:"カーテン/ブラインド"}カーテン/ブラインド
              %option{value:"ライト/照明"}ライト/照明
              %option{value:"寝具"}寝具
              %option{value:"インテリア小物"}インテリア小物
              %option{value:"季節/年中行事"}季節/年中行事
              %option{value:"その他(インテリア)"}その他
        .detail__contents--content.book.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"本"}本
              %option{value:"漫画"}漫画
              %option{value:"雑誌"}雑誌
              %option{value:"CD"}CD
              %option{value:"DVD/ブルーレイ"}DVD/ブルーレイ
              %option{value:"レコード"}レコード
              %option{value:"テレビゲーム"}テレビゲーム
        .detail__contents--content.toy.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"おもちゃ"}おもちゃ
              %option{value:"タレント/グッズ"}タレント/グッズ
              %option{value:"コミック/アニメグッズ"}コミック/アニメグッズ
              %option{value:"トレーディングカード"}トレーディングカード
              %option{value:"フィギュア"}フィギュア
              %option{value:"楽器/器材"}楽器/器材
              %option{value:"コレクション"}コレクション
              %option{value:"ミリタリー"}ミリタリー
              %option{value:"美術品"}美術品
              %option{value:"アート用品"}アート用品
              %option{value:"その他"}その他
        .detail__contents--content.cosme.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"ベースメイク"}ベースメイク
              %option{value:"メイクアップ"}メイクアップ
              %option{value:"ネイルケア"}ネイルケア
              %option{value:"香水"}香水
              %option{value:"スキンケア/基礎化粧品"}スキンケア/基礎化粧品
              %option{value:"ヘアケア"}ヘアケア
              %option{value:"ボディケア"}ボディケア
              %option{value:"オーラルケア"}オーラルケア
              %option{value:"リラクゼーション"}リラクゼーション
              %option{value:"ダイエット"}ダイエット
              %option{value:"その他"}その他
        .detail__contents--content.camera.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"スマートフォン/携帯電話"}スマートフォン/携帯電話
              %option{value:"スマホアクセサリー"}スマホアクセサリー
              %option{value:"PC/タブレット"}PC/タブレット
              %option{value:"カメラ"}カメラ
              %option{value:"テレビ/映像機器"}テレビ/映像機器
              %option{value:"オーディオ機器"}オーディオ機器
              %option{value:"美容/健康"}美容/健康
              %option{value:"冷暖房/空調"}冷暖房/空調
              %option{value:"生活家電"}生活家電
              %option{value:"その他"}その他
        .detail__contents--content.sports.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"ゴルフ"}ゴルフ
              %option{value:"フィッシング"}フィッシング
              %option{value:"自転車"}自転車
              %option{value:"トレーニング/エクササイズ"}トレーニング/エクササイズ
              %option{value:"野球"}野球
              %option{value:"サッカー/フットサル"}サッカー/フットサル
              %option{value:"テニス"}テニス
              %option{value:"スノーボード"}スノーボード
              %option{value:"スキー"}スキー
              %option{value:"その他スポーツ"}その他スポーツ
              %option{value:"アウトドア"}アウトドア
              %option{value:"その他"}その他
        .detail__contents--content.handmade.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"アクセサリー(女性用)"}アクセサリー(女性用)
              %option{value:"ファッション/小物"}ファッション/小物
              %option{value:"アクセサリー/時計"}アクセサリー/時計
              %option{value:"日用品/インテリア"}日用品/インテリア
              %option{value:"趣味/おもちゃ"}趣味/おもちゃ
              %option{value:"キッズ/ベビー"}キッズ/ベビー
              %option{value:"素材/材料"}素材/材料
              %option{value:"二次創作物"}二次創作物
              %option{value:"その他"}その他
        .detail__contents--content.ticket.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"音楽"}音楽
              %option{value:"スポーツ"}スポーツ
              %option{value:"演劇/芸能"}演劇/芸能
              %option{value:"イベント"}イベント
              %option{value:"映画"}映画
              %option{value:"施設利用券"}施設利用券
              %option{value:"優待券/割引券"}優待券/割引券
              %option{value:"その他"}その他
        .detail__contents--content.car.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"自動車本体"}自動車本体
              %option{value:"自動車タイヤ/ホイール"}自動車タイヤ/ホイール
              %option{value:"自動車パーツ"}自動車パーツ
              %option{value:"自動車アクセサリー"}自動車アクセサリー
              %option{value:"オートバイ車体"}オートバイ車体"
              %option{value:"オートバイパーツ"}オートバイパーツ
              %option{value:"オートバイアクセサリー"}オートバイアクセサリー
        .detail__contents--content.others.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_one"}
              %option{value:""}---
              %option{value:"まとめ売り"}まとめ売り
              %option{value:"ペット用品"}ペット用品
              %option{value:"食品"}食品
              %option{value:"飲料/酒"}飲料/酒
              %option{value:"日用品/生活雑貨/旅行"}日用品/生活雑貨/旅行
              %option{value:"アンティーク/コレクション"}アンティーク/コレクション
              %option{value:"文房具/事務用品"}文房具/事務用品
              %option{value:"事務/店舗用品"}事務/店舗用品
              %option{value:"その他"}その他
        .detail__contents--content.rady_one.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"Tシャツ/カットソー(半袖/袖なし)"}Tシャツ/カットソー(半袖/袖なし)
              %option{value:"Tシャツ/カットソー(七部/長袖)"}Tシャツ/カットソー(七部/長袖)
              %option{value:"シャツ/ブラウス(半袖/袖なし)"}シャツ/ブラウス(半袖/袖なし)
              %option{value:"シャツ/ブラウス(七部/長袖)"}シャツ/ブラウス(七部/長袖)
              %option{value:"ポロシャツ"}ポロシャツ
              %option{value:"キャミソール"}キャミソール
              %option{value:"タンクトップ"}タンクトップ
              %option{value:"ホルターネック"}ホルターネック
              %option{value:"ニット/セーター"}ニット/セーター
              %option{value:"チェニック"}チェニック
              %option{value:"カーディガン/ボレロ"}カーディガン/ボレロ
              %option{value:"アンサンブル"}アンサンブル
              %option{value:"ベスト/ジレ"}ベスト/ジレ
              %option{value:"パーカー"}パーカー
              %option{value:"トレーナー/スウェット"}トレーナー/スウェット
              %option{value:"ベアトップ/チューブトップ"}ベアトップ/チューブトップ
              %option{value:"ジャージ"}ジャージ
              %option{value:"その他"}その他
        .detail__contents--content.rady_two.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"テーラードジャケット"}テーラードジャケット
              %option{value:"ノーカラージャケット"}ノーカラージャケット
              %option{value:"Gジャン/デニムジャケット"}Gジャン/デニムジャケット
              %option{value:"レザージャケット"}レザージャケット
              %option{value:"ダウンジャケット"}ダウンジャケット
              %option{value:"ライダースジャケット"}ライダースジャケット
              %option{value:"ミリタリージャケット"}ミリタリージャケット
              %option{value:"ダウンベスト"}ダウンベスト
              %option{value:"ジャンパー/ブルゾン"}ジャンパー/ブルゾン
              %option{value:"ポンチョ"}ポンチョ
              %option{value:"ロングコート"}ロングコート
              %option{value:"トレンチコート"}トレンチコート
              %option{value:"ダッフルコート"}ダッフルコート
              %option{value:"ピーコート"}ピーコート
              %option{value:"チェスターコート"}チェスターコート
              %option{value:"モッズコート"}モッズコート
              %option{value:"スタジャン"}スタジャン
              %option{value:"毛皮/ファーコート"}毛皮/ファーコート
              %option{value:"スプリングコート"}スプリングコート
              %option{value:"スカジャン"}スカジャン
              %option{value:"その他"}その他
        .detail__contents--content.rady_three.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"デニム/ジーンズ"}デニム/ジーンズ
              %option{value:"ショートパンツ"}ショートパンツ
              %option{value:"カジュアルパンツ"}カジュアルパンツ
              %option{value:"ハーフパンツ"}ハーフパンツ
              %option{value:"チノパン"}チノパン
              %option{value:"ワークパンツ/カーゴパンツ"}ワークパンツ/カーゴパンツ
              %option{value:"クロップドパンツ"}クロップドパンツ
              %option{value:"サロペット/オーバーオール"}サロペット/オーバーオール
              %option{value:"オールインワン"}オールインワン
              %option{value:"サルエルパンツ"}サルエルパンツ
              %option{value:"ガウチョパンツ"}ガウチョパンツ
              %option{value:"その他"}その他
        .detail__contents--content.rady_four.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"ミニスカート"}ミニスカート
              %option{value:"ひざ丈スカート"}ざ丈スカート
              %option{value:"ロングスカート"}ロングスカート
              %option{value:"キュロット"}キュロット
              %option{value:"その他"}その他
        .detail__contents--content.rady_five.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"ミニワンピース"}ミニワンピース
              %option{value:"ひざ丈ワンピース"}ひざ丈ワンピース
              %option{value:"ロングワンピース"}ロングワンピース
              %option{value:"その他"}その他
        .detail__contents--content.rady_six.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"ハイヒール/パンプス"}ハイヒール/パンプス
              %option{value:"ブーツ"}ブーツ
              %option{value:"サンダル"}サンダル
              %option{value:"スニーカー"}スニーカー
              %option{value:"ミュール"}ミュール
              %option{value:"モカシン"}モカシン
              %option{value:"ローファー/革靴"}ローファー/革靴
              %option{value:"フラットシューズ/バレエシューズ"}フラットシューズ/バレエシューズ
              %option{value:"長靴/レインシューズ"}長靴/レインシューズ
              %option{value:"その他"}その他
        .detail__contents--content.rady_seven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"パジャマ"}パジャマ
              %option{value:"ルームウェア"}ルームウェア
        .detail__contents--content.rady_eight.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ソックス"}ソックス
              %option{value:"スパッツ/レギンス"}スパッツ/レギンス
              %option{value:"ストッキング/タイツ"}ストッキング/タイツ"
              %option{value:"レッグウォーマー"}レッグウォーマー
              %option{value:"その他"}その他
        .detail__contents--content.rady_nine.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ニットキャップ/ビーニー"}ニットキャップ/ビーニー
              %option{value:"ハット"}ハット
              %option{value:"ハンチング/ベレー帽"}ハンチング/ベレー帽
              %option{value:"キャップ"}キャップ
              %option{value:"キャスケット"}キャスケット
              %option{value:"麦わら帽子"}麦わら帽子
              %option{value:"その他"}その他
        .detail__contents--content.rady_ten.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ハンドバッグ"}ハンドバッグ
              %option{value:"トートバッグ"}トートバッグ
              %option{value:"エコバッグ"}エコバッグ
              %option{value:"リュック/バッグパック"}リュック/バッグパック
              %option{value:"スポーツバッグ"}ポロシャツ
              %option{value:"スポーツバッグ"}スポーツバッグ
              %option{value:"ショルダーバッグ"}ショルダーバッグ
              %option{value:"クラッチバッグ"}クラッチバッグ
              %option{value:"ポーチ/バニティ"}ポーチ/バニティ
              %option{value:"ボディバッグ/ウェストバッグ"}ボディバッグ/ウェストバッグ
              %option{value:"マザーズバッグ"}マザーズバッグ
              %option{value:"メッセンジャーバッグ"}メッセンジャーバッグ
              %option{value:"ビジネスバッグ"}ビジネスバッグ
              %option{value:"旅行用バッグ/キャリーバッグ"}旅行用バッグ/キャリーバッグ
              %option{value:"ショップ袋"}ショップ袋
              %option{value:"和装用バッグ"}和装用バッグ
              %option{value:"かごバッグ"}かごバッグ
              %option{value:"その他"}その他
        .detail__contents--content.rady_eleven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ネックレス"}ネックレス
              %option{value:"ブレスレット"}ブレスレット
              %option{value:"バングル/リストバンド"}バングル/リストバンド
              %option{value:"リング"}リング
              %option{value:"ピアス(片耳用)"}ピアス(片耳用)
              %option{value:"ピアス(両耳用)"}ピアス(両耳用
              %option{value:"イヤリング"}イヤリング
              %option{value:"アンクレット"}アンクレット
              %option{value:"ブローチ/コサージュ"}ブローチ/コサージュ
              %option{value:"チャーム"}チャーム
              %option{value:"その他"}その他
        .detail__contents--content.rady_twelve.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ヘアゴム/シュシュ"}ヘアゴム/シュシュ
              %option{value:"ヘアバンド/カチューシャ"}ヘアバンド/カチューシャ
              %option{value:"ヘアピン"}ヘアピン
              %option{value:"その他"}その他
        .detail__contents--content.rady_thrirteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"長財布"}長財布
              %option{value:"折り財布"}折り財布
              %option{value:"コインケース/小銭入れ"}コインケース/小銭入れ
              %option{value:"名刺入れ/定期入れ"}名刺入れ/定期入れ
              %option{value:"キーケース"}キーケース
              %option{value:"キーホルダー"}キーホルダー
              %option{value:"手袋/アームカバー"}手袋/アームカバー
              %option{value:"ハンカチ"}ハンカチ
              %option{value:"ベルト"}ベルト
              %option{value:"マフラー/ショール"}マフラー/ショール
              %option{value:"ストール/スヌード"}ストール/スヌード
              %option{value:"バンダナ/スカーフ"}バンダナ/スカーフ
              %option{value:"ネックウォーマー"}ネックウォーマー
              %option{value:"サスペンダー"}サスペンダー
              %option{value:"サングラス/メガネ"}サングラス/メガネ
              %option{value:"モバイルケース/カバー"}モバイルケース/カバー
              %option{value:"手帳"}手帳
              %option{value:"イヤマフラー"}イヤマフラー
              %option{value:"傘"}傘
              %option{value:"レインコート/ポンチョ"}レインコート/ポンチョ
              %option{value:"ミラー"}ミラー
              %option{value:"タバコグッズ"}タバコグッズ
              %option{value:"その他"}その他
        .detail__contents--content.rady_fourteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"長時計(アナログ)"}長時計(アナログ)
              %option{value:"長時計(デジタル)"}長時計(デジタル)
              %option{value:"ラバーベルト"}ラバーベルト
              %option{value:"レザーベルト"}レザーベルト
              %option{value:"金属ベルト"}金属ベルト
              %option{value:"その他"}その他
        .detail__contents--content.rady_fifteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"前髪ウィッグ"}前髪ウィッグ
              %option{value:"ロングストレート"}ロングストレート
              %option{value:"ロングカール"}ロングカール
              %option{value:"ショートストレート"}ショートストレート
              %option{value:"ショートカール"}ショートカール
              %option{value:"その他"}その他
        .detail__contents--content.rady_sixteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"浴衣"}浴衣
              %option{value:"着物"}着物
              %option{value:"振袖"}振袖
              %option{value:"長袖袴/半袖袴"}長袖袴/半袖袴
              %option{value:"水着セパレート"}水着セパレート
              %option{value:"水着ワンピース"}水着ワンピース
              %option{value:"水着スポーツ用"}水着スポーツ用
              %option{value:"その他"}その他
        .detail__contents--content.rady_seventeen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"スカートスーツ上下"}スカートスーツ上下
              %option{value:"パンツスカート上下"}パンツスカート上下
              %option{value:"ドレス"}ドレス
              %option{value:"パーティーバッグ"}パーティーバッグ
              %option{value:"シューズ"}シューズ
              %option{value:"ウェディング"}ウェディング
              %option{value:"その他"}その他
        .detail__contents--content.rady_eighteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"トップス"}トップス
              %option{value:"アウター"}アウター
              %option{value:"インナー"}インナー
              %option{value:"ワンピース"}ワンピース
              %option{value:"パンツ/スパッツ"}パンツ/スパッツ
              %option{value:"スカート"}スカート
              %option{value:"パジャマ"}パジャマ
              %option{value:"授乳服"}授乳服
              %option{value:"その他"}その他
        .detail__contents--content.rady_nineteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"コスプレ"}コスプレ
              %option{value:"下着"}下着
              %option{value:"その他"}その他
        .detail__contents--content.man_one.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"Tシャツ/カットソー(半袖/袖なし)"}Tシャツ/カットソー(半袖/袖なし)
              %option{value:"Tシャツ/カットソー(七部/長袖)"}Tシャツ/カットソー(七部/長袖)
              %option{value:"シャツ"}シャツ
              %option{value:"ポロシャツ"}ポロシャツ
              %option{value:"タンクトップ"}タンクトップ
              %option{value:"ニット/セーター"}ニット/セーター
              %option{value:"パーカー"}パーカー
              %option{value:"カーディガン"}カーディガン
              %option{value:"スウェット"}スウェット
              %option{value:"ジャージ"}ジャージ
              %option{value:"ベスト"}ベスト
              %option{value:"その他"}その他
        .detail__contents--content.man_two.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"テーラードジャケット"}テーラードジャケット
              %option{value:"ノーカラージャケット"}ノーカラージャケット
              %option{value:"Gジャン/デニムジャケット"}Gジャン/デニムジャケット
              %option{value:"レザージャケット"}レザージャケット
              %option{value:"ダウンジャケット"}ダウンジャケット
              %option{value:"ライダースジャケット"}ライダースジャケット
              %option{value:"ミリタリージャケット"}ミリタリージャケット
              %option{value:"ナイロンジャケット"}ナイロンジャケット
              %option{value:"フライトジャケット"}フライトジャケット
              %option{value:"ダッフルコート"}ダッフルコート
              %option{value:"ピーコート"}ピーコート
              %option{value:"ステンカラーコート"}ステンカラーコート
              %option{value:"トレンチコート"}トレンチコート
              %option{value:"モッズコート"}モッズコート
              %option{value:"チェスターコート"}チェスターコート
              %option{value:"スタジャン"}スタジャン
              %option{value:"ブルゾン"}ブルゾン
              %option{value:"マウンテンパーカー"}マウンテンパーカー
              %option{value:"ダウンベスト"}ダウンベスト
              %option{value:"ポンチョ"}ポンチョ
              %option{value:"カバーオール"}カバーオール
              %option{value:"その他"}その他
        .detail__contents--content.man_three.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"デニム/ジーンズ"}デニム/ジーンズ
              %option{value:"ワークパンツ/カーゴパンツ"}ワークパンツ/カーゴパンツ
              %option{value:"スラックス"}スラックス
              %option{value:"チノパン"}チノパン
              %option{value:"ショートパンツ"}ショートパンツ
              %option{value:"ペインダーパンツ"}ペインダーパンツ
              %option{value:"サルエルパンツ"}サルエルパンツ
              %option{value:"オーバーオール"}オーバーオール
              %option{value:"その他"}その他
        .detail__contents--content.man_four.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"スニーカー"}スニーカー
              %option{value:"サンダル"}サンダル
              %option{value:"ブーツ"}ブーツ
              %option{value:"モカシン"}モカシン
              %option{value:"ドレス/ビジネス"}ドレス/ビジネス
              %option{value:"長靴/レインシューズ"}長靴/レインシューズ
              %option{value:"デッキシューズ"}デッキシューズ
              %option{value:"その他"}その他
        .detail__contents--content.man_five.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ショルダーバッグ"}ショルダーバッグ
              %option{value:"トートバッグ"}トートバッグ
              %option{value:"ボストンバッグ"}ボストンバッグ
              %option{value:"リュック/バッグパック"}リュック/バッグパック
              %option{value:"ウェストポーチ"}ウェストポーチ
              %option{value:"ボディーバッグ"}ボディーバッグ
              %option{value:"ドラムバッグ"}ドラムバッグ
              %option{value:"ビジネスバッグ"}ビジネスバッグ
              %option{value:"トラベルバッグ"}トラベルバッグ
              %option{value:"メッセンジャーバッグ"}メッセンジャーバッグ
              %option{value:"エコバッグ"}エコバッグ
              %option{value:"その他"}その他
        .detail__contents--content.man_six.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"スーツ/ジャケット"}スーツ/ジャケット
              %option{value:"スーツベルト"}スーツベルト
              %option{value:"スラックス"}スラックス
              %option{value:"セットアップ"}セットアップ
              %option{value:"その他"}その他
        .detail__contents--content.man_seven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"キャップ"}キャップ
              %option{value:"ハット"}ハット
              %option{value:"ニットキャップ/ビーニー"}ニットキャップ/ビーニー
              %option{value:"ハンチング/ベレー帽"}ハンチング/ベレー帽
              %option{value:"キャスケット"}キャスケット
              %option{value:"サンバイザー"}サンバイザー
              %option{value:"その他"}その他
        .detail__contents--content.man_eight.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ネックレス"}ネックレス
              %option{value:"ブレスレット"}ブレスレット
              %option{value:"バングル/リストバンド"}バングル/リストバンド
              %option{value:"リング"}リング
              %option{value:"ピアス(片耳用)"}ピアス(片耳用)
              %option{value:"ピアス(両耳用)"}ピアス(両耳用
              %option{value:"アンクレット"}アンクレット
              %option{value:"その他"}その他
        .detail__contents--content.man_nine.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"長財布"}長財布
              %option{value:"折り財布"}折り財布
              %option{value:"コインケース/小銭入れ"}コインケース/小銭入れ
              %option{value:"名刺入れ/定期入れ"}名刺入れ/定期入れ
              %option{value:"キーケース"}キーケース
              %option{value:"キーホルダー"}キーホルダー
              %option{value:"ネクタイ"}ネクタイ
              %option{value:"手袋"}手袋
              %option{value:"ハンカチ"}ハンカチ
              %option{value:"ベルト"}ベルト
              %option{value:"マフラー"}マフラー
              %option{value:"ストール"}ストール
              %option{value:"バンダナ"}バンダナ
              %option{value:"ネックウォーマー"}ネックウォーマー
              %option{value:"サスペンダー"}サスペンダー
              %option{value:"ウォレットチェーン"}ウォレットチェーン
              %option{value:"サングラス/メガネ"}サングラス/メガネ
              %option{value:"モバイルケース/カバー"}モバイルケース/カバー
              %option{value:"手帳"}手帳
              %option{value:"ストラップ"}ストラップ
              %option{value:"ネクタイピン"}ネクタイピン
              %option{value:"カフリンクス"}カフリンクス
              %option{value:"イヤマフラー"}イヤマフラー
              %option{value:"傘"}傘
              %option{value:"レインコート"}レインコート
              %option{value:"ミラー"}ミラー
              %option{value:"タバコグッズ"}タバコグッズ
              %option{value:"その他"}その他
        .detail__contents--content.man_ten.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"長時計(アナログ)"}長時計(アナログ)
              %option{value:"長時計(デジタル)"}長時計(デジタル)
              %option{value:"ラバーベルト"}ラバーベルト
              %option{value:"レザーベルト"}レザーベルト
              %option{value:"金属ベルト"}金属ベルト
              %option{value:"その他"}その他
        .detail__contents--content.man_eleven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"一般水着"}一般水着
              %option{value:"スポーツ用"}スポーツ用
              %option{value:"アクセサリー"}アクセサリー
              %option{value:"その他"}その他
        .detail__contents--content.man_twelve.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ソックス"}ソックス
              %option{value:"レギンス/スパッツ"}レギンス/スパッツ
              %option{value:"レッグウォーマー"}レッグウォーマー
              %option{value:"その他"}その他
        .detail__contents--content.man_thirteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"トランクス"}トランクス
              %option{value:"ボクサーパンツ"}ボクサーパンツ
              %option{value:"その他"}その他
        .detail__contents--content.man_fourteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:"その他"}その他
        .detail__contents--content.baby_one.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"トップス"}トップス
              %option{value:"アウター"}アウター
              %option{value:"パンツ"}パンツ
              %option{value:"スカート"}スカート
              %option{value:"ワンピース"}ワンピース
              %option{value:"ベビードレス"}ベビードレス
              %option{value:"おくるみ"}おくるみ
              %option{value:"下着/肌着"}下着/肌着
              %option{value:"パジャマ"}パジャマ
              %option{value:"ロンパース"}ロンパース
              %option{value:"その他"}その他
        .detail__contents--content.baby_two.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"トップス"}トップス
              %option{value:"アウター"}アウター
              %option{value:"パンツ"}パンツ
              %option{value:"おくるみ"}おくるみ
              %option{value:"下着/肌着"}下着/肌着
              %option{value:"パジャマ"}パジャマ
              %option{value:"ロンパース"}ロンパース
              %option{value:"その他"}その他
        .detail__contents--content.baby_three.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:""}---
              %option{value:"トップス"}トップス
              %option{value:"アウター"}アウター
              %option{value:"パンツ"}パンツ
              %option{value:"おくるみ"}おくるみ
              %option{value:"下着/肌着"}下着/肌着
              %option{value:"パジャマ"}パジャマ
              %option{value:"ロンパース"}ロンパース
              %option{value:"その他"}その他
        .detail__contents--content.baby_four.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"コート"}コート
              %option{value:"ジャケット/上着"}ジャケット/上着
              %option{value:"トップス/(Tシャツ/カットソー)"}トップス/(Tシャツ/カットソー)
              %option{value:"トップス(トレーナー)"}トップス(トレーナー)
              %option{value:"トップス(チュニック)"}トップス(チュニック)
              %option{value:"トップス(タンクトップ)"}トップス(タンクトップ)
              %option{value:"トップス(その他)"}トップス(その他)
              %option{value:"スカート"}スカート
              %option{value:"パンツ"}パンツ
              %option{value:"ワンピース"}ワンピース
              %option{value:"セットアップ"}セットアップ
              %option{value:"パジャマ"}パジャマ
              %option{value:"フォーマル/ドレス"}フォーマル/ドレス
              %option{value:"和服"}和服
              %option{value:"浴衣"}浴衣
              %option{value:"甚平"}甚平
              %option{value:"水着"}水着
              %option{value:"その他"}その他
        .detail__contents--content.baby_five.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"コート"}コート
              %option{value:"ジャケット/上着"}ジャケット/上着
              %option{value:"トップス/(Tシャツ/カットソー)"}トップス/(Tシャツ/カットソー)
              %option{value:"トップス(トレーナー)"}トップス(トレーナー)
              %option{value:"トップス(その他)"}トップス(その他)
              %option{value:"スカート"}スカート
              %option{value:"パンツ"}パンツ
              %option{value:"セットアップ"}セットアップ
              %option{value:"パジャマ"}パジャマ
              %option{value:"フォーマル/ドレス"}フォーマル/ドレス
              %option{value:"和服"}和服
              %option{value:"浴衣"}浴衣
              %option{value:"甚平"}甚平
              %option{value:"水着"}水着
              %option{value:"その他"}その他
        .detail__contents--content.baby_six.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"コート"}コート
              %option{value:"ジャケット/上着"}ジャケット/上着
              %option{value:"トップス/(Tシャツ/カットソー)"}トップス/(Tシャツ/カットソー)
              %option{value:"トップス(トレーナー)"}トップス(トレーナー)
              %option{value:"トップス(その他)"}トップス(その他)
              %option{value:"ボトムス"}ボトムス
              %option{value:"パジャマ"}パジャマ
              %option{value:"その他"}その他
        .detail__contents--content.baby_seven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two size_open"}
              %option{value:""}---
              %option{value:"スニーカー"}スニーカー
              %option{value:"サンダル"}サンダル
              %option{value:"ブーツ"}ブーツ
              %option{value:"長靴"}長靴
              %option{value:"その他"}その他
        .detail__contents--content.baby_eight.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"靴下/スパッツ"}靴下/スパッツ
              %option{value:"帽子"}帽子
              %option{value:"エプロン"}エプロン
              %option{value:"サスペンダー"}サスペンダー
              %option{value:"タイツ"}タイツ
              %option{value:"ハンカチ"}ハンカチ
              %option{value:"バンダナ"}バンダナ
              %option{value:"ベルト"}ベルト
              %option{value:"マフラー"}マフラー
              %option{value:"傘"}傘
              %option{value:"手袋"}手袋
              %option{value:"スタイ"}スタイ
              %option{value:"バッグ"}バッグ
              %option{value:"その他"}その他
        .detail__contents--content.baby_nine.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"おむつ用品"}おむつ用品
              %option{value:"おまる/補助便座"}おまる/補助便座
              %option{value:"トレーニングパンツ"}トレーニングパンツ
              %option{value:"ベビーバス"}ベビーバス
              %option{value:"お風呂用品"}お風呂用品
              %option{value:"その他"}その他
        .detail__contents--content.baby_ten.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ベビーカー"}ベビーカー
              %option{value:"抱っこひも/スリング"}抱っこひも/スリング
              %option{value:"チャイルドシート"}チャイルドシート
              %option{value:"その他"}その他
        .detail__contents--content.baby_eleven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ミルク"}ミルク
              %option{value:"ベビーフード"}ベビーフード
              %option{value:"ベビー用食器"}ベビー用食器
              %option{value:"その他"}その他
        .detail__contents--content.baby_twelve.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ベッド"}ベッド
              %option{value:"布団/毛布"}布団/毛布
              %option{value:"イス"}イス
              %option{value:"たんす"}たんす
              %option{value:"その他"}その他
        .detail__contents--content.baby_thirteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"お風呂のおもちゃ"}お風呂のおもちゃ
              %option{value:"がらがら"}がらがら
              %option{value:"オルゴール"}オルゴール
              %option{value:"ベビージム"}ベビージム
              %option{value:"手押し車/カタカタ"}手押し車/カタカタ
              %option{value:"知育玩具"}知育玩具
              %option{value:"その他"}その他
        .detail__contents--content.baby_fifteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"お宮参り用品"}お宮参り用品
              %option{value:"お食い始め用品"}お食い始め用品
              %option{value:"アルバム"}アルバム
              %option{value:"手形/足型"}手形/足型
              %option{value:"その他"}その他
        .detail__contents--content.baby_sixteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"母子手帳用品"}母子手帳用品
              %option{value:"その他"}その他
        .detail__contents--content.interia_one.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"食器"}食器
              %option{value:"調理器具"}調理器具
              %option{value:"収納/キッチン雑貨"}収納/キッチン雑貨
              %option{value:"弁当用品"}弁当用品
              %option{value:"カトラリー(スプーン等)"}カトラリー(スプーン等)
              %option{value:"テーブル用品"}テーブル用品
              %option{value:"容器"}容器
              %option{value:"エプロン"}エプロン
              %option{value:"アルコールグッズ"}アルコールグッズ
              %option{value:"浄水機"}浄水機
              %option{value:"その他"}その他
        .detail__contents--content.interia_two.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"セミシングルベッド"}セミシングルベッド
              %option{value:"シングルベッド"}シングルベッド
              %option{value:"セミダブルベッド"}セミダブルベッド
              %option{value:"ダブルベッド"}ダブルベッド
              %option{value:"ワイドダブルベッド"}ワイドダブルベッド
              %option{value:"クイーンベッド"}クイーンベッド
              %option{value:"キングベッド"}キングベッド
              %option{value:"脚付きマットレスベッド"}脚付きマットレスベッド
              %option{value:"マットレス"}マットレス
              %option{value:"すのこベッド"}すのこベッド
              %option{value:"ロフトベッド/システムベッド"}ロフトベッド/システムベッド
              %option{value:"簡易ベッド/折りたたみベッド"}簡易ベッド/折りたたみベッド
              %option{value:"収納付き"}収納付き
              %option{value:"その他"}その他
        .detail__contents--content.interia_three.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ソファセット"}ソファセット
              %option{value:"シングルソファ"}シングルソファ
              %option{value:"ラブソファ"}ラブソファ
              %option{value:"トリプルソファ"}トリプルソファ
              %option{value:"オットマン"}オットマン
              %option{value:"コーナーソファ"}コーナーソファ
              %option{value:"ビーズソファ/クッションソファ"}ビーズソファ/クッションソファ
              %option{value:"ローソファ/フロアソファ"}ローソファ/フロアソファ
              %option{value:"ソファベッド"}ソファベッド
              %option{value:"応接セット"}応接セット
              %option{value:"ソファカバー"}ソファカバー
              %option{value:"リクライニングソファ"}リクライニングソファ
              %option{value:"その他"}その他
        .detail__contents--content.interia_four.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"一般"}一般
              %option{value:"スツール"}スツール
              %option{value:"ダイニングチェア"}ダイニングチェア
              %option{value:"ハイバックチェア"}ハイバックチェア
              %option{value:"ロッキングチェア"}ロッキングチェア
              %option{value:"座椅子"}座椅子
              %option{value:"折り畳みイス"}折り畳みイス
              %option{value:"デスクチェア"}デスクチェア
              %option{value:"その他"}その他
        .detail__contents--content.interia_five.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"こたつ"}こたつ
              %option{value:"カウンターテーブル"}カウンターテーブル
              %option{value:"サイドテーブル"}サイドテーブル
              %option{value:"センターテーブル"}センターテーブル
              %option{value:"ダイニングテーブル"}ダイニングテーブル
              %option{value:"座卓/ちゃぶ台"}座卓/ちゃぶ台
              %option{value:"アウトドア用"}アウトドア用
              %option{value:"パソコン用"}パソコン用
              %option{value:"事務机/学習机"}事務机/学習机
              %option{value:"その他"}その他
        .detail__contents--content.interia_six.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"リビング収納"}リビング収納
              %option{value:"キッチン収納"}キッチン収納
              %option{value:"玄関/屋外収納"}玄関/屋外収納
              %option{value:"バス/トイレ収納"}バス/トイレ収納
              %option{value:"本収納"}本収納
              %option{value:"本/CD/DVD収納"}本/CD/DVD収納
              %option{value:"洋服タンス/押入れ収納"}洋服タンス/押入れ収納
              %option{value:"電話台/ファックス台"}電話台/ファックス台
              %option{value:"ドレッサー/鏡台"}ドレッサー/鏡台
              %option{value:"棚/ラック"}棚/ラック
              %option{value:"ケース/ボックス"}ケース/ボックス
              %option{value:"その他"}その他
        .detail__contents--content.interia_seven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ラグ"}ラグ
              %option{value:"カーペット"}カーペット
              %option{value:"ホットカーペット"}ホットカーペット
              %option{value:"玄関/キッチンマット"}玄関/キッチンマット
              %option{value:"トイレ/バスマット"}トイレ/バスマット
              %option{value:"その他"}その他
        .detail__contents--content.interia_eight.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"カーテン"}カーテン
              %option{value:"ブラインド"}ブラインド
              %option{value:"ロールスクリーン"}ロールスクリーン
              %option{value:"のれん"}のれん
              %option{value:"その他"}その他
        .detail__contents--content.interia_nine.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"蛍光灯/電球"}蛍光灯/電球
              %option{value:"天井照明"}天井照明
              %option{value:"フロアスタンド"}フロアスタンド
              %option{value:"その他"}その他
        .detail__contents--content.interia_ten.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"布団/毛布"}布団/毛布
              %option{value:"枕"}枕
              %option{value:"シーツ/カバー"}シーツ/カバー"
              %option{value:"その他"}その他
        .detail__contents--content.interia_eleven.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ごみ箱"}ごみ箱
              %option{value:"ウェルカムボード"}ウェルカムボード
              %option{value:"オルゴール"}オルゴール
              %option{value:"クッション"}クッション
              %option{value:"クッションカバー"}クッションカバー
              %option{value:"スリッパラック"}スリッパラック
              %option{value:"ティッシュボックス"}ティッシュボックス
              %option{value:"バスケット/かご"}バスケット/かご
              %option{value:"フォトフレーム"}フォトフレーム
              %option{value:"マガジンラック"}マガジンラック
              %option{value:"モビール"}モビール
              %option{value:"花瓶"}花瓶
              %option{value:"灰皿"}灰皿
              %option{value:"傘立て"}傘立て
              %option{value:"小物入れ"}小物入れ
              %option{value:"置時計"}置時計
              %option{value:"掛時計/柱時計"}掛時計/柱時計
              %option{value:"鏡(立て掛け式)"}鏡(立て掛け式)
              %option{value:"鏡(壁掛け式)"}鏡(壁掛け式)
              %option{value:"置物"}置物
              %option{value:"風鈴"}風鈴
              %option{value:"植物/観葉植物"}植物/観葉植物
              %option{value:"その他"}その他
        .detail__contents--content.interia_twelve.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"正月"}正月
              %option{value:"成人式"}成人式
              %option{value:"バレンタインデー"}バレンタインデー
              %option{value:"ひな祭り"}ひな祭り
              %option{value:"子どもの日"}子どもの日
              %option{value:"母の日"}母の日
              %option{value:"父の日"}父の日
              %option{value:"サマーギフト/お中元"}サマーギフト/お中元
              %option{value:"夏/夏休み"}夏/夏休み
              %option{value:"ハロウィン"}ハロウィン
              %option{value:"敬老の日"}敬老の日
              %option{value:"七五三"}七五三
              %option{value:"お歳暮"}お歳暮
              %option{value:"クリスマス"}クリスマス
              %option{value:"冬一般"}冬一般
              %option{value:"その他"}その他
        .detail__contents--content.interia_thirteen.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content",class:"hidden_two"}
              %option{value:""}---
              %option{value:"ごみ箱"}ごみ箱
              %option{value:"ウェルカムボード"}ウェルカムボード
              %option{value:"オルゴール"}オルゴール
              %option{value:"クッション"}クッション
              %option{value:"クッションカバー"}クッションカバー
              %option{value:"スリッパラック"}スリッパラック
              %option{value:"ティッシュボックス"}ティッシュボックス
              %option{value:"バスケット/かご"}バスケット/かご
              %option{value:"フォトフレーム"}フォトフレーム
              %option{value:"マガジンラック"}マガジンラック
              %option{value:"モビール"}モビール
              %option{value:"花瓶"}花瓶
              %option{value:"灰皿"}灰皿
              %option{value:"傘立て"}傘立て
              %option{value:"小物入れ"}小物入れ
              %option{value:"置時計"}置時計
              %option{value:"掛時計/柱時計"}掛時計/柱時計
              %option{value:"鏡(立て掛け式)"}鏡(立て掛け式)
              %option{value:"鏡(壁掛け式)"}鏡(壁掛け式)
              %option{value:"置物"}置物
              %option{value:"風鈴"}風鈴
              %option{value:"植物/観葉植物"}植物/観葉植物
              %option{value:"その他"}その他
        .detail__contents--type.side.hidden_size.hidden
          サイズ
        .detail__contents--btn.side.hidden_size.hidden
          必須
        .detail__contents--content.hidden_size.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"XXS以下"}XXS以下
              %option{value:"XS(SS)"}XS(SS)
              %option{value:"S"}S
              %option{value:"M"}M
              %option{value:"L"}L
              %option{value:"XL(LL)"}XL(LL)
              %option{value:"2XL(3L)"}2XL(3L)
              %option{value:"3XL(4L)"}3XL(4L)
              %option{value:"4XL(5L)以上"}4XL(5L)以上
              %option{value:"FREE SIZE"}FREE SIZE
        .detail__contents--type.side.hidden_bland.hidden
          ブランド
        .detail__contents--btn.bland-btn.side.hidden_bland.hidden
          任意
        .detail__contents--content.hidden_bland.hidden
          %form{action:"#",method:"GET"}
            %input{name:"bland",placeholder:"例)シャネル"}
        .detail__contents--type.side
          商品の状態
        .detail__contents--btn.side
          必須
        .detail__contents--content
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"新品、未使用"}新品、未使用
              %option{value:"未使用に近い"}未使用に近い
              %option{value:"目立った傷や汚れなし"}目立った傷や汚れなし
              %option{value:"やや傷や汚れあり"}やや傷や汚れあり
              %option{value:"傷や汚れあり"}傷や汚れあり
              %option{value:"全体的に状態が悪い"}全体的に状態が悪い
    .item__register--delivery
      .delivery__title.side
        配送について
      .delivery__contents.side
        .delivery__contents--type.side
          配送料の負担
        .delivery__contents--btn.side
          必須
        .delivery__contents--content
          %form{action:"#",method:"GET"}
            %select{name:"content",id:"hidden_way"}
              %option{value:""}---
              %option{value:"送料込み"}送料込み(出品者負担)
              %option{value:"着払い"}着払い(購入者負担)
        .delivery__contents--type.side.way_departure.hidden
          配送の方法
        .delivery__contents--btn.side.way_departure.hidden
          必須
        .delivery__contents--content.way_departure.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"未定"}未定
              %option{value:"らくらくメルカリ便"}らくらくメルカリ便
              %option{value:"ゆうメール"}ゆうメール
              %option{value:"レターパック"}レターパック
              %option{value:"普通郵便(定形,定形外)"}普通郵便(定形,定形外)
              %option{value:"クロネコヤマト"}クロネコヤマト
              %option{value:"ゆうパック"}ゆうパック
              %option{value:"クリップポスト"}クリップポスト
              %option{value:"ゆうパケット"}ゆうパケット
        .delivery__contents--type.side.way_arrival.hidden
          配送の方法
        .delivery__contents--btn.side.way_arrival.hidden
          必須
        .delivery__contents--content.way_arrival.hidden
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"未定"}未定
              %option{value:"クロネコヤマト"}クロネコヤマト
              %option{value:"ゆうパック"}ゆうパック
              %option{value:"ゆうメール"}ゆうメール
        .delivery__contents--type.side
          発送元の地域
        .delivery__contents--btn.side
          必須
        .delivery__contents--content
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"北海道"}北海道
              %option{value:"青森県"}青森県
              %option{value:"岩手県"}岩手県
              %option{value:"宮城県"}宮城県
              %option{value:"秋田県"}秋田県
              %option{value:"山形県"}山形県
              %option{value:"福島県"}徳島県
              %option{value:"茨城県"}茨城県
              %option{value:"栃木県"}栃木県
              %option{value:"群馬県"}群馬県
              %option{value:"埼玉県"}埼玉県
              %option{value:"千葉県"}千葉県
              %option{value:"東京都"}東京都
              %option{value:"神奈川県"}神奈川県
              %option{value:"新潟県"}新潟県
              %option{value:"富山県"}富山県
              %option{value:"石川県"}石川県
              %option{value:"福井県"}福井県
              %option{value:"山梨県"}山梨県
              %option{value:"長野県"}長野県
              %option{value:"岐阜県"}岐阜県
              %option{value:"静岡県"}静岡県
              %option{value:"愛知県"}愛知県
              %option{value:"三重県"}三重県
              %option{value:"滋賀県"}滋賀県
              %option{value:"京都府"}京都府
              %option{value:"大阪府"}大阪府
              %option{value:"兵庫県"}兵庫県
              %option{value:"奈良県"}奈良県
              %option{value:"和歌山県"}和歌山県
              %option{value:"鳥取県"}鳥取県
              %option{value:"島根県"}島根県
              %option{value:"岡山県"}岡山県
              %option{value:"広島県"}広島県
              %option{value:"山口県"}山口県
              %option{value:"徳島県"}徳島県
              %option{value:"香川県"}香川県
              %option{value:"愛媛県"}愛媛県
              %option{value:"高知県"}高知県
              %option{value:"福岡県"}静岡県
              %option{value:"佐賀県"}佐賀県
              %option{value:"長崎県"}長崎県
              %option{value:"熊本県"}熊本県
              %option{value:"大分県"}大分県
              %option{value:"宮崎県"}宮崎県
              %option{value:"鹿児島県"}鹿児島県
              %option{value:"沖縄県"}沖縄県
              %option{value:"未定"}未定
        .delivery__contents--type.side
          発送までの日数
        .delivery__contents--btn.side
          必須
        .delivery__contents--content
          %form{action:"#",method:"GET"}
            %select{name:"content"}
              %option{value:""}---
              %option{value:"1~2日で発送"}1~2日で発送
              %option{value:"2~3日で発送"}2~3日で発送
              %option{value:"4~7日で発送"}4~7日で発送
    .item__register--sale
      .sale__title.side
        販売価格(300~9,999,999)
      .sale__contents.side
        .sale__contents--cost.side.side_center
          価格
          .sale__contents--btn.side
            必須
        .sale__contents--content.side_center.side_cost
          ¥
          %input{type:"number",placeholder:"例)300",name:"cost"}
        .border
          .sale__contents--fee.side_center
            販売手数料(10%)
          .sale__contents--content.side_center.side_fee
            ー
        .sale__contents--benefit.side_center
          販売利益
        .sale__contents--content.side_center.side_benefit
          ー
      .sale__error
        300円未満は登録できません
    .item__register--attention
      .attention__contents
        禁止されている出品、行為を必ずご確認ください。<br>
        またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの出品は犯罪であり処罰される可能性があります。<br>
        また、出品をもちまして加盟店規約に同意したことになります。
    .item__register--exhibit
      .exhibit__btn
        出品する
    .item__register--return
      .return__btn
        もどる
  .item__guide
    .item__guide--type
      プライバシーポリシー
    .item__guide--type
      メルカリ利用規約
    .item__guide--type
      特定商取引に関する表記
  .item__footer
    .item__footer--image
      =link_to image_tag('/images/logo.png',height:"50px",width:"50px"),"/news/"
    .item__footer--content
      © 2019 Mercari
