.logout-contents{
  margin-top: 40px;
  width: 700px;
  height: 180px;
  background-color: white;
  display: table;
  .logout-botton{
    width: 320px;
    height: 50px;
    margin: 65px auto 0;
    background: #ea352d;
    border-color: #ea352d;
    text-align: center;
    line-height:50px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
}