.slide-bottom
  = image_tag '/images/slide_bottom.png',height:"260px",width:"100%;"
.guide
  .guide__about
    %h1
      メルカリについて<br>
    %h2
      会社概要<br>
    %h2
      プレスリリース<br>
    %h2
      公式ブログ<br>
    %h2
      メルカリロゴ利用ガイドライン<br>
    %h3
      =link_to "","https://twitter.com/mercari_jp",class:"icon twitter"
      =link_to "","https://www.facebook.com/mercarijp",class:"icon facebook"
  .guide__help
    %h1
      ヘルプ＆ガイド<br>
    %h2
      らくらくメルカリ便<br>
    %h2
      ゆうゆうメルカリ便<br>
    %h2
      大型メルカリ便<br>
    %h2
      車体取引ガイド<br>
    %h2
      メルカリあんしん・あんぜん宣言！<br>
    %h2
      偽ブランド品撲滅への取り組み<br>
    %h2
      メルカリボックス<br>
  .guide__private
    %h1
      プライバシーと利用規約<br>
    %div
      %h2
        プライバシーポリシー<br>
      %h2
        メルカリ利用規約<br>
      %h2
        あんしんスマホサポート制度に関<br>する利用規約<br>
    %div 
      %h2
        コンプライアンスポリシー<br>
      %h2
        個人データの安全管理に関わる基本<br>方針<br>
      %h2
        特定商取引に関する表記<br>
      %h2 
        資金決済法に基づく表示<br>
      %h2
        法令遵守と犯罪防止のために<br>
  .guide__country
    %h1
      国<br>
    %h2
      日本<br>
    %h2
      United States<br>
.footer
  %h1
    = image_tag '/images/logo.png',height:"30px",width:"30px;"
    =link_to"merucari",root_path,method: :get,class:"btn"
  %h2
    © 2019 Mercari
.gotop
  .gotop__content
    =link_to content_tag(:span, "出品"),"/items/new/",class:"camera"