.smallframe
  .smallframe__top
    = link_to"#{group}新着アイテム",new_item_path,method: :get,class:"btn"
  .smallframe__items
    .smallframe__items--item
      = render partial: @items
  .smallframe__footer
    = link_to"全ての商品をみる",new_item_path,method: :get,class:"btn"
