@mixin head($margin:30px,$height:300px,$width:15%){
  margin-top:$margin;
  height:$height;
  width:$width;
}
@mixin h1{
  font-size:16px;
  margin:10px 0;
  font-weight:bold;
}

@mixin h2{
  font-size:12px;
  margin-top:10px;
}
